
<div class="inner-page padd">
			
				<!-- Inner page menu start -->
				<div class="inner-menu">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Первые блюда</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("sup.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Солянка мясная</h4>
										<!-- Dish price -->
										<span class="price pull-right">35 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Зама</h4>
										<!-- Dish price -->
										<span class="price pull-right">30 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Крем суп из шампиньонов</h4>
										<!-- Dish price -->
										<span class="price pull-right">30 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Салаты</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("salat1.jpg", class: "img-responsive") %>

									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Цезарь с курицей</h4>
										<!-- Dish price -->
										<span class="price pull-right">62 лея</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Цезарь с креветками</h4>
										<!-- Dish price -->
										<span class="price pull-right">82 лея</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Цезарь с сёмгой</h4>
										<!-- Dish price -->
										<span class="price pull-right">80 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Овощной с тайским соусом</h4>
										<!-- Dish price -->
										<span class="price pull-right">48 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item sp ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Салат из говяжьего языка и грибочков</h4>
										<!-- Dish price -->
										<span class="price pull-right">64 лея</span>
										<div class="clearfix"></div>
									</div>


									<!-- Menu list items -->
									<div class="menu-list-item sp ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Салат с нежной теьятиной</h4>
										<!-- Dish price -->
										<span class="price pull-right">62 лея</span>
										<div class="clearfix"></div>
									</div>

									<!-- Menu list items -->
									<div class="menu-list-item sp ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Салат "Летний каприз"</h4>
										<!-- Dish price -->
										<span class="price pull-right">42 лея</span>
										<div class="clearfix"></div>
									</div>

									<!-- Menu list items -->
									<div class="menu-list-item border-zero sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Салат тёплый с куриной печенью</h4>
										<!-- Dish price -->
										<span class="price pull-right">58 лея</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Основные блюда из мяса</h3>
									<!-- Image for menu list -->
									  <%= image_tag("measo2.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Говядина с овощами Al Dente</h4>
										<!-- Dish price -->
										<span class="price pull-right">82 лея</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Филе Mignon</h4>
										<!-- Dish price -->
										<span class="price pull-right">96 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Стейк говяжий</h4>
										<!-- Dish price -->
										<span class="price pull-right">95 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Свинина по японски</h4>
										<!-- Dish price -->
										<span class="price pull-right">76 лей</span>
										<div class="clearfix"></div>
									</div>

									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Свинина обжаренная в кунжуте с перечным соусом</h4>
										<!-- Dish price -->
										<span class="price pull-right">84 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Филе свиное под сливочно-ореховым соусом</h4>
										<!-- Dish price -->
										<span class="price pull-right">79 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Мясо на кости</h4>
										<!-- Dish price -->
										<span class="price pull-right">90 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Стейк свиной с соусом Jack Daniel's</h4>
										<!-- Dish price -->
										<span class="price pull-right">95 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Куриное филе с сырно-сливочном соусе</h4>
										<!-- Dish price -->
										<span class="price pull-right">68 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Болгарский куриный стейк</h4>
										<!-- Dish price -->
										<span class="price pull-right">59 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Куриные дольки во фритюре</h4>
										<!-- Dish price -->
										<span class="price pull-right">69 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Перепёлка в сливочно-апельсиновом соусе</h4>
										<!-- Dish price -->
										<span class="price pull-right">110 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Утиная грудка в смородине</h4>
										<!-- Dish price -->
										<span class="price pull-right">95 лей</span>
										<div class="clearfix"></div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Основные блюда из рыбы</h3>
									<!-- Image for menu list -->
									  <%= image_tag("menu/menu1.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Запечённое филе форели</h4>
										<!-- Dish price -->
										<span class="price pull-right">65 лея</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Дорадо с овощами</h4>
										<!-- Dish price -->
										<span class="price pull-right">125 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Скумбрия на гриле</h4>
										<!-- Dish price -->
										<span class="price pull-right">72 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Стейк сёмги на гриле</h4>
										<!-- Dish price -->
										<span class="price pull-right">110 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Пасты</h3>
									<!-- Image for menu list -->
									  <%= image_tag("pasta.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Карбанара</h4>
										<!-- Dish price -->
										<span class="price pull-right">65 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Фетучини с сёмгой</h4>
										<!-- Dish price -->
										<span class="price pull-right">75 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Фетучини с сёмгой</h4>
										<!-- Dish price -->
										<span class="price pull-right">75 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Болоньезе</h4>
										<!-- Dish price -->
										<span class="price pull-right">70 лей</span>
										<div class="clearfix"></div>
									</div>

									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Десерты</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("menu/menu3.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Яблочный штрудель</h4>
										<!-- Dish price -->
										<span class="price pull-right">40 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Мороженое с фруктами</h4>
										<!-- Dish price -->
										<span class="price pull-right">35 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Фруктовый салат</h4>
										<!-- Dish price -->
										<span class="price pull-right">40 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Блины с топингом</h4>
										<!-- Dish price -->
										<span class="price pull-right">30 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Фруктовые Ассорти</h4>
										<!-- Dish price -->
										<span class="price pull-right">200 лей</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Холодные закуски</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("zakuska.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Сырная тарелка</h4>
										<!-- Dish price -->
										<span class="price pull-right">90 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Овощная грядка</h4>
										<!-- Dish price -->
										<span class="price pull-right">60 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Мясное ассорти</h4>
										<!-- Dish price -->
										<span class="price pull-right">80 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Ассорти из колбас</h4>
										<!-- Dish price -->
										<span class="price pull-right">80 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Рыбное ассорти</h4>
										<!-- Dish price -->
										<span class="price pull-right">140 лей</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Горячие закуски</h3>
									<!-- Image for menu list -->
									  <%= image_tag("krivetka.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Тигровые креветки с чесночным соусом</h4>
										<!-- Dish price -->
										<span class="price pull-right">92 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Шашлычки из креветок</h4>
										<!-- Dish price -->
										<span class="price pull-right">94 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Мидий в нежном сливочном соусе</h4>
										<!-- Dish price -->
										<span class="price pull-right">95 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item ">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Блины с сёмгой</h4>
										<!-- Dish price -->
										<span class="price pull-right">52 лей</span>
										<div class="clearfix"></div>
									</div>
									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Гарниры</h3>
									<!-- Image for menu list -->
									  <%= image_tag("garnir.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Фри</h4>
										<!-- Dish price -->
										<span class="price pull-right">18 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Пюре картофельное</h4>
										<!-- Dish price -->
										<span class="price pull-right">18 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Картофель с грибами</h4>
										<!-- Dish price -->
										<span class="price pull-right">20 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Овощи гриль</h4>
										<!-- Dish price -->
										<span class="price pull-right">25 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item spoiler_links">
										<!-- Heading / Dish name -->
										<h4 class="pull-center">Показать еще --> </h4>
										<!-- Dish price -->
										

										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Овощи Al Dente</h4>
										<!-- Dish price -->
										<span class="price pull-right">28 лей</span>
										<div class="clearfix"></div>
									</div>


									

									<!-- Menu list items -->
									<div class="menu-list-item sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Кукуруза обжареная в сливочном масле</h4>
										<!-- Dish price -->
										<span class="price pull-right">30 лей</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero sp">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Рис с овощами</h4>
										<!-- Dish price -->
										<span class="price pull-right">20 лей</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Inner page menu end -->
			
				<!-- Showcase Start -->
				
			
				<!-- Showcase End -->
				
			</div><!-- / Inner Page Content End -->	

<script type="text/javascript">
$(document).ready(function(){
 $('.spoiler_links').click(function(){
  $(this).parent().children('div.sp').toggle('normal');
  return false;
 });
});
</script>
