<p id="notice"><%= notice %></p>


<div class="inner-page padd">
			
				<!-- Inner page menu start -->
				<div class="inner-menu">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Seafoods</h3>
									<!-- Image for menu list -->
									  <%= image_tag("menu/menu1.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Fish Curie</h4>
										<!-- Dish price -->
										<span class="price pull-right">$29</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$49</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$39</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Creed do Modernism</h4>
										<!-- Dish price -->
										<span class="price pull-right">$22</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Fish Curie</h4>
										<!-- Dish price -->
										<span class="price pull-right">$15</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Chicken</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("menu/menu2.jpg", class: "img-responsive") %>

									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Chicken Curie</h4>
										<!-- Dish price -->
										<span class="price pull-right">$35</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Bone less</h4>
										<!-- Dish price -->
										<span class="price pull-right">$45</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$20</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$25</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Creed do Modernism</h4>
										<!-- Dish price -->
										<span class="price pull-right">$22</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Dessert</h3>
									<!-- Image for menu list -->
									  <%= image_tag("menu/menu3.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Chicken Curie</h4>
										<!-- Dish price -->
										<span class="price pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Bone less</h4>
										<!-- Dish price -->
										<span class="price pull-right">$4</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Creed do Modernism</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Drinks</h3>
									<!-- Image for menu list -->
									  <%= image_tag("menu/menu4.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Cold Drinks</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Cold Milk Shake</h4>
										<!-- Dish price -->
										<span class="price pull-right">$1</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Creed do Modernism</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Pizza</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("menu/menu5.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Cold Drinks</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Cold Milk Shake</h4>
										<!-- Dish price -->
										<span class="price pull-right">$1</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Creed do Modernism</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- Inner page menu list -->
								<div class="menu-list">
									<!-- Menu item heading -->
									<h3>Burger</h3>
									<!-- Image for menu list -->
									
									  <%= image_tag("menu/menu6.jpg", class: "img-responsive") %>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Cold Drinks</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Cold Milk Shake</h4>
										<!-- Dish price -->
										<span class="price pull-right">$1</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Consecrate Anglicising</h4>
										<!-- Dish price -->
										<span class="price pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
									<!-- Menu list items -->
									<div class="menu-list-item border-zero">
										<!-- Heading / Dish name -->
										<h4 class="pull-left">Creed do Modernism</h4>
										<!-- Dish price -->
										<span class="price pull-right">$2</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Inner page menu end -->
			
				<!-- Showcase Start -->
				
			
				<!-- Showcase End -->
				
			</div><!-- / Inner Page Content End -->	


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
