Уважаемый(ая) <%= @order.name %>
Администрация  Negroni благодарит Вас за недавний заказ.
Вы заказали следующий товар:
<%= render @order.line_items -%>
Имя: <%= @order.name %>
Фамилия: <%= @order.lastname %>
Телефон: <%= @order.phone %>
Адресс: <%= @order.address %>


