<nav class="navbar navbar-default navbar-right" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Вывод категорий на  экран и переход в нее-->  
                   <ul class="nav navbar-nav"> 
                     <li><a href="/"><%= image_tag("navlogo.jpg", class: "img-responsive") %>Главная</a></li> 
                     <li><a href="/menus"><%= image_tag("menu.jpg", class: "img-responsive") %>Меню</a></li>   
                     <% categories = Category.all %>
                     <% categories.each do |category| %>
                       <li><%= link_to category_url(category) do %>
                          <%= image_tag category.image, class: 'img-responsive' %> 
                          <%= category.name %>
                        </li>
                       <% end %>
                     <% end %>
                   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>