
  
  
  <div class="col-md-6 col-sm-12"> 
    <!-- Form inside table wrapper -->
    <div class="table-responsive">
      <!-- Ordering form -->
      <form role="form">
        <!-- Table -->
        <table class="table table-bordered">
          <tr>
            <td>Цена</td>
            <td><%= "#{number_to_currency current_order.subtotal}" %></td>
            
          </tr>
          <tr>
            <td>Доставка</td>
            <td>Город Бельцы</td>
          </tr>
          
          <tr>
            <td>Количество наименований</td>
            <td><%= "#{current_order.order_items.size}"%></td>
          </tr>
        </table>
      </form><!--/ Table End-->
    </div><!--/ Table responsive class end -->
    <%= button_to "Оформить заказ",new_order_send_path, class: "btn btn-danger btn-sm", method: :get %>
</div>

  

