     <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37683945 = new Ya.Metrika({ id:37683945, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37683945" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
      <div class="btn-cart-md">
          <a class="cart-link" href="">
            <%= image_tag("cart.png", class: "img-responsive") %>
          <!-- Heading -->
            <h4>Shopping Cart</h4>
          <div class="prices"> </div>
          <div class="clearfix"></div>
          </a>
          <ul class="cart-dropdown" role="menu">
            <% @cart.line_items.each do |item| %>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <%= image_tag("nav1.jpg", class: "img-responsive img-rounded") %>
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#"><%= item.product.name %></a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red"><%= number_to_currency(item.total_price) %>/ <%= item.quantity %></span>
                        <div class="clearfix"></div>
                      </div>

                      
                    </li>
                    <% end %>
                    <li>
                      <div class="cart-item">
                        
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>

  
    
  

                      </div>
                    </li>

                    
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <a class="btn btn-danger" data-toggle="modal" href="#shoppingcart1">Checkout</a>
                      </div>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>

       