      <div class="btn-cart-md">
          <a class="cart-link" href="">
            <%= image_tag("cart.png", class: "img-responsive") %>
          <!-- Heading -->
            <h4>Shopping Cart</h4>
          <div class="prices"> </div>
          <div class="clearfix"></div>
          </a>
          <ul class="cart-dropdown" role="menu">
            <% @cart.line_items.each do |item| %>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <%= image_tag("nav1.jpg", class: "img-responsive img-rounded") %>
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#"><%= item.product.name %></a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red"><%= number_to_currency(item.total_price) %>/ <%= item.quantity %></span>
                        <div class="clearfix"></div>
                      </div>

                      
                    </li>
                    <% end %>
                    <li>
                      <div class="cart-item">
                        
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>

  
    
  

                      </div>
                    </li>

                    
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <a class="btn btn-danger" data-toggle="modal" href="#shoppingcart1">Checkout</a>
                      </div>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>

       