<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37683945 = new Ya.Metrika({ id:37683945, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37683945" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<div class="checkout">
          <div class="container">
          <!-- Heading -->
          <h4>Оформление заказа</h4>
            <div class="row">
              <div class="col-md-7 col-sm-6">
                <!-- Checkout Form -->
  <%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    
                    <div class="col-md-8">
                      <%= f.text_field :name, :class => "form-control", :placeholder => "Имя" %>
                    </div>
                  </div>    
                  <div class="form-group">
                    
                    <div class="col-md-8">
                      <%= f.text_field :lastname, :class => "form-control", :placeholder => "Фамилия" %>
                    </div>
                  </div>          
                  <div class="form-group">
                    
                    <div class="col-md-8">
                       <%= f.text_area :address, :class => "form-control", :placeholder => "Адрес" %>

                    </div>
                  </div>
                  <div class="form-group">
                    
                    <div class="col-md-8">
                      <%= f.text_field :phone, :class => "form-control", :placeholder => "Телефон"  %>
                    </div>
                  </div>
                  <div class="form-group">
                    
                    <div class="col-md-8">
                      <%= f.text_area :commit, :class => "form-control", :placeholder => "Коментарий к заказу"  %>
                    </div>
                  </div>
                  

                  <div class="form-group">
                    
                    <div class="col-md-8">
                       <%= f.text_field :email, :class => "form-control", :placeholder => "E-Mail" %>
                    </div>
                  </div>
                  
                  
                  <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                      <%= f.submit 'Подтверждение заказа', :class => "btn btn-danger btn-sm" %>
                      <button type="reset" class="btn btn-default btn-sm">Reset</button>
                    </div>
                  </div>
                  
                </form>
              <% end %>
              </div>
              <div class="col-md-5 col-sm-6">
                <!-- Checkout sidebar items -->
                <div class="sidebar-item">
                  <!-- Heading -->
                  <h5 class="pull-left">Бесплатная доставка</h5>
                  <!-- Sidebar content icon -->
                  <i class="fa fa-truck br-green pull-right"></i>
                  <div class="clearfix"></div>
                  <!-- Sidebar Paragraph -->
                  <p>Доставка суши, роллов, темаки и других блюд японской кухни к Вашему столу! Мы максимально оперативно доставим Ваш заказ суши в любую точку Бельц. Бесплатно доставляются заказы: от 300 лей по городу доставка бесплатная!</p>
                </div>
                <!-- Checkout sidebar items -->
                
              </div>
            </div>
          </div>
        </div>







