<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37683945 = new Ya.Metrika({ id:37683945, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37683945" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<p id="notice"><%= notice %></p>


  <%= render (cart.line_items) %>

  


<div class="modal fade" id="shoppingcart1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Корзина </h4>
          </div>
          <div class="modal-body">
            <!-- Items table -->
            <table class="table table-striped">
              <thead>
                
                <tr>
                  <th>Наименование</th>
                  <th>Количество</th>
                  <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                <% @cart.line_items.each do |item| %>
                <tr>
                  <td><%= item.product.name %></td>
                  <td><%= item.quantity %></td>
                  <td><%= number_to_currency(item.total_price) %></td>
                </tr>
                <tr>
                <% end %>
                  <th></th>
                  <th>Total</th>
                  <th><%= number_to_currency(@cart.total_price) %></th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default " data-dismiss="modal">Продолжить покупки Shopping</button>

            <%= button_to "Оформить", new_order_path, method: :get, class: "btn btn-info" %> 
            <%= button_to 'Очистить корзину', @cart, class: "btn btn-warning", method: :delete,
     confirm: 'Are you sure?' %>


  
   
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<% if cart.line_items.size == 0 %>
  <p class="text-center">
  
    На данный момент в вашей корзине нет товаров.  Пожалуста <%= link_to "вернитесь назад", root_path %>  и выберете продукт.
  </p>

<% end %>