
  .sp {display:none;}
 .spoiler_links {cursor:pointer;}

.new_order .form-control {
    margin-top: 10px;
}
.new_order .btn {
    margin-top: 10px;
}
.new_order_send .form-control{margin-top: 10px;}





.inner-page .shopping { margin-top: 40px; margin-bottom: 20px; }
.inner-page .shopping .shopping-item { 
	position: relative;
	max-width: 200px;
	
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 5px;
	text-align: center;
	background: #fff;
	border: 4px solid #eee;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
      	-ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
        	transition: all 0.4s ease-in-out;
}

.inner-page .shopping .shopping-item img{ border: 1px solid #f5f5f5; }
.inner-page .shopping .shopping-item h4 {
	width: 65%;
	margin-top: 15px;
	margin-left: 10px; 
	font-size: 16px;
	line-height: 26px;
text-align: left;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-page .shopping .shopping-item span.item-price {
	display: inline-block; 
	margin-top: 15px;
	margin-right: 10px;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 26px;
	font-weight: 700;
}
.inner-page .shopping .shopping-item p {
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 22px;
	text-align: left;
	color: #9a9a9a; 
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-page .shopping-item .item-hover { 
	position: absolute;
	left: -150px;
	bottom: 30%;
	width: 130px;
	height: 35px;
	line-height: 35px;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
      	-ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
        	transition: all 0.4s ease-in-out;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	    -ms-transform: skew(-20deg);
		 -o-transform: skew(-20deg);
		    transform: shew(-20deg);
}

.inner-page .shopping-item a.link {
	position: absolute;
	left: -130px;
	bottom: 32%;
	font-size: 16px;
	color: #fff; 
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
      	-ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
        	transition: all 0.4s ease-in-out;
}

.inner-page .shopping-item a.btn { margin-bottom: 10px; }
.inner-page .shopping-item:hover .item-hover { left: -20px; }
.inner-page .shopping-item:hover a.link { left: 10px; }
.inner-page .shopping-item .hot-tag{
	top: 10px;
	right: 10px;
	z-index: 20;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 0;
	border-top-right-radius: 15px;
}


.modal-footer .button_to {
	display: inline-block;
  
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.social a.od i {
    background: rgb(245,157,68);
}
.social a.vk i {
    background: #2B587A;
}
.pp_social{float:left;margin:0}    
.pp_social .od{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}

.logotip { float: center; }