<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37683945 = new Ya.Metrika({ id:37683945, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37683945" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<% cache ['entry', product] do %>
<div class="col-md-3 col-sm-6 col-xs-12">
  <!-- Shopping items -->
  <div class="shopping-item">
    <!-- Image -->
    <div class="gallery-content">

      <div class="element">
        <!-- Image -->
        <%= image_tag(product.image, class: 'img-responsive') %>
        <!-- Shopping item name / Heading -->
        <!-- Gallery Image Hover Effect -->
        <span class="gallery-img-hover"></span>
        <!-- Gallery Image Hover Icon -->
        <a href=" <%= image_path(product.image) %>" class="gallery-img-link">
          <i class="fa fa-search-plus hover-icon icon-left"></i>
        </a>

        <%= link_to product_path(product) do %>
        <i class="fa fa-link hover-icon icon-right"></i>
        <% end %>

      </div>
    </div>
    
    <h4 class="pull-left"><%= product.name %></h4>
    <span class="item-price pull-right"><%= product.price %> MDL</span>
    <div class="clearfix"></div>
    <!-- Paragraph -->
    <p><%= product.ingridient %>.</p>
    <!-- Buy now button -->
   
    <div class="visible-xs">
    </div>
    <!-- Shopping item hover block & link -->
    <div class="input-group">
     
      <div class="input-group-btn">
       
        <%= button_to 'В корзину', line_items_path(product_id: product),class: "btn btn-danger btn-sm",remote: true %>
       
      </div>
    </div>  
  
  </div>
</div>
<div class="clearfix visible-xs"></div>
<% end %>