
<div class="row">
  <div class="col-md-4 col-sm-5">
    <!-- Product image -->
    <%= image_tag(@product.image, class: 'img-responsive img-thumbnail') %>
  </div>
  <div class="col-md-8 col-sm-7">
    <!-- Heading -->

    <h3><%= @product.name %> </h3> 
    <h4>Цена: <%= @product.price %> лей</h4>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <!-- Single item details -->
        <div class="item-details">
          <!-- Paragraph -->
          <h5>Ингридиеты :-</h5>
          <p class="text-justify"><%= @product.ingridient %>.</p>
          <!-- Heading -->
          <h5>Описание :-</h5>
          <p class="text-justify"><%= @product.description %>.</p>
          <!-- Recipe ingredients -->
        </div>
        </tr>
        <div class="social">
          <a class="facebook", onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')"><i class="fa fa-facebook"></i></a>
          <a class="vk", onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC')"><i class="fa fa-vk"></i></a>
          <a class="twitter", onclick="Share.twitter('URL','TITLE','IMG_PATH','DESC')"><i class="fa fa-twitter"></i></a>
          <a class="od", onclick="Share.odnoklassniki('URL','DESC')"><i class="fa fa-odnoklassniki "></i></a>            

        </div>
      </div>


      
    </div><!--/ Inner row end  -->
  </div>
</div>

<!-- Shopping item hover block & link -->


