<% if line_item == @current_item %>
<tr id="current_item">
	<% else %>
	<tr>
		<% end %>

		<li>
			<!-- Cart items for shopping list -->
			<div class="cart-item" id="delete-product">
				<!-- Image -->
				<!-- Item remove icon -->

				<%= link_to line_item_path(line_item), remote: true, method: :delete do %>
      <i class="fa fa-times"></i>
         <% end %>
				
				<%= image_tag(line_item.product.image, class: 'img-responsive img-rounded') %>
				<!-- Title for purchase item -->
				<span class="cart-title"><a href="#"><%= line_item.product.name %></a></span>
				<!-- Cart item price -->
				<span class="cart-price pull-right red"><%= number_to_currency(line_item.total_price) %>/ <%= line_item.quantity %></span>
				<div class="clearfix"></div>
			</div>
		</li>
		