<!DOCTYPE html>
<html>
<head>
  <title>Negroni Доставка</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="Доставка в г.Бельцы от Negroni. Мы всегда вам рады! ">
  <meta name="keywords" content="Бельцы, Доставка, Negroni, Суши, Ролы, Европейская кухня">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Negroni Доставка">
  <meta property="og:image" content="link_to_image">  
  <meta property="og:description" content="Доставка в г.Бельцы от Negroni. Мы всегда вам рады! ">
  <meta name='language' content='RU'>

</head>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37683945 = new Ya.Metrika({ id:37683945, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37683945" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<body>
<!-- END:head -->

<body class="<%= controller.controller_name %>">
<script src="http://tapnetwork.ru/js/3202.js" async="1"></script>
<!-- START_HIGHLIGHT -->
    <!-- Shopping cart Modal -->
    
     

    <!-- Model End -->
 <br>
    <!-- Page Wrapper -->
    <div class="wrapper">
    
      <!-- Header Start -->
      
      <div class="header">
        <div class="container">
          <!-- Header top area content -->
          <div class="header-top">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <!-- Header top left content contact -->
                <div class="header-contact">
                  <!-- Contact number -->
                  <span><i class="fa fa-phone red"></i> +373 790 29 375</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <!-- Header top right content search box -->
                 <div class='header-search'>
                <%= image_tag("logo1.png", class: "img-responsive") %>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">

                <!-- Button Kart -->
                 <div class="btn-cart-md">
                  <a class="cart-link" href="#">
                    <!-- Image -->
                    <%= image_tag("cart.png", class: "img-responsive") %>
                    <!-- Heading -->
                    <h4>Корзина</h4>
                    <span id="price-cart"><%= number_to_currency(@cart.total_price) %></span>
                    <div class="clearfix"></div>
                  </a>
                  <ul class="cart-dropdown" role="menu">
                    <div id="cart">
                      <%= render @cart %>
                    </div>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <a id="#modal-chec "class="btn btn-danger"  data-toggle="modal" href="#shoppingcart1">Оформить заказ</a>
                      </div>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <!--Button Kart close -->
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <!-- Link -->
              <a href="/">
                <!-- Logo area -->
                <div class="logo">
                 

                  <!-- Heading -->
                  <h1>Negroni Cocktail Bar</h1>
                  <!-- Paragraph -->
                  <p>Доставка суши,роллов в городе Бельцы.</p>
                </div>
              </a>
            </div>
            <div class="col-md-8 col-sm-7">
              <!-- Navigation -->
               <%= render 'shared/navigate_panel' %> 
            </div>
          </div>
        </div> <!-- / .container -->
      </div>
      
      <!-- Header End -->
      
      <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <%= image_tag("crown-white.png", class: "img-responsive") %>
          <!-- Heading -->
          <h2 class="white">Order Online</h2>
          <ol class="breadcrumb">
            <li><a href="/">Домой</a></li>
            <li class="active"><%= controller.controller_name %></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->

  <div class="inner-page padd">
    <div class="shopping">
        <div class="container">
          <!-- Shopping items content -->
          <div class="shopping-content">
            <div class="row">

            <!-- END_HIGHLIGHT -->
              <%= yield %>
            <!-- START_HIGHLIGHT -->
            </div>
          </div>  
        </div>  
      </div>
  </div><!-- / Inner Page Content End --> 
 </div>

 <!-- Footer Start -->
      
      <div class="footer padd">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Logo area -->
                <div class="logo">
                <%= image_tag("logo1.png", class: "img-responsive") %>
                  <!-- Heading -->
                  <h1>Negroni</h1>
                </div>
                <!-- Paragraph -->
                <p>Доставка суши, роллов, темаки и других блюд японской кухни к Вашему столу! Мы максимально оперативно доставим ваш заказ суши в любую точку Бельц.</p>
                <hr />
                <!-- Heading -->
                
              </div> <!--/ Footer widget end -->
            </div>
            
            <div class="clearfix visible-sm"></div>
            <div class="col-md-6 col-sm-6">

              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Неше расположение на карте</h4>
                <!-- Paragraph -->
                <%= render :partial => 'shared/map' %>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Свяжись с нами</h4>
                <div class="contact-details">
                  <!-- Address / Icon -->
                  <i class="fa fa-map-marker br-red"></i> <span>#Наш адрес: Город Бeлцы,<br />ул. Дечебал 134 А</span>
                  <div class="clearfix"></div>
                  <!-- Contact Number / Icon -->
                  <i class="fa fa-phone br-green"></i> <span>+373 790 29 375</span>
                  <div class="clearfix"></div>
                  <!-- Email / Icon -->
                  <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">vitaliinegroni@mail.ru</a></span>
                  <div class="clearfix"></div>
                </div>
                <!-- Social media icon -->
                <div class="social">
                  <a class="facebook", onclick="Share.facebook('http://localhost:3000/','TITLE','IMG_PATH','DESC')"><i class="fa fa-facebook"></i></a>
                  <a class="vk", onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC')"><i class="fa fa-vk"></i></a>
                  <a class="twitter", onclick="Share.twitter('URL','TITLE','IMG_PATH','DESC')"><i class="fa fa-twitter"></i></a>
                  <a class="od", onclick="Share.odnoklassniki('URL','DESC')"><i class="fa fa-odnoklassniki "></i></a>
                </div>
              </div> <!--/ Footer widget end -->
            </div>
          </div>
          <!-- Copyright -->
          <div class="footer-copyright">
            <!-- Paragraph -->
            <p>&copy; Copyright 2015 <a href="#">Negroni</a></p>
          </div>
        </div>
      </div>
      <!-- Footer End -->
    </div><!-- / Wrapper End -->
    
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
    
<script>
    /* Gallery */

    jQuery(".gallery-img-link").prettyPhoto({
       overlay_gallery: false, social_tools: false
    });
    
    $(document).ready(function() {
  $('.btn-cart-md .cart-link').click(function(e){
    e.preventDefault();
    var $dd_menu = $('.btn-cart-md .cart-dropdown')
    if ($dd_menu.hasClass('open')) {
      $dd_menu.fadeOut();
      $dd_menu.removeClass('open');
    } else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
  });

   $('.button_to').on('submit',function(){
        var $t = $(this);
        $(this).find('.fa').remove();
        $(this).append('<div class="fa fa-check" aria-hidden="true" " style="position:absolute;font-size:30px;right:0px;bottom:0px;color: #f75353; display:none;"></div>');
        $t.find('.fa').fadeIn('500');
        setTimeout(function(){
        $t.find('.fa').fadeOut('500');
        },3000);
        setTimeout(function(){
        $t.find('.fa').remove();
        },3500);
        })
});
    </script>
    
</body>
</html>
